body,
html {
  background-color: transparent;
}

section {
  width: 100%;
  max-height: 100vh;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

section img {
  object-fit: scale-down;
}

h2 {
  color: lightgrey;
  font-size: 1rem;
  font-weight: 900;
}

h2.alarm {
  color: rgb(176, 7, 41);
}

h2.yellow {
  color: rgb(176, 173, 7);
}